img.graph1 {
    margin: 0 auto;
    padding: 0;
    display: block;
}

.box1 {
    position: fixed;
    top: 0px;
    left: 5px;
    margin: auto;
    padding: 0px;
}

.box1 a {
    color: #761596;
    text-decoration: none;
}


/*5-1目标收获的页面*/

.container {
    width: 900px;
    margin: 0 auto;
}

.bo5-1 {
    font: 50px 华文彩云;
    color: #761596;
    text-align: center;
}

.container img {
    width: 300px;
}

.bo5-1-1 {
    float: left;
    left: 300px;
    height: 300px;
}

.bo5-1-2 {
    position: absolute;
    left: 610px;
    height: 300px;
}

.bo5-1-3 {
    float: right;
    height: 300px;
}

.bo5-1-1-1 {
    margin: 0 auto;
    position: absolute;
    top: 270px;
    left: 390px;
    width: 150px;
    font-size: 20px;
    font-family: 楷体;
    color: #761596;
}

.bo5-1-2-1 {
    margin: 0 auto;
    position: absolute;
    top: 90px;
    left: 80px;
    width: 150px;
    font-size: 20px;
    font-family: 楷体;
    color: #761596;
}

.bo5-1-3-1 {
    margin: 0 auto;
    position: absolute;
    top: 270px;
    right: 380px;
    width: 150px;
    font-size: 20px;
    font-family: 楷体;
    color: #761596;
}

.bo5-1-1-2 {
    margin: 0 auto;
    position: absolute;
    top: 640px;
    left: 390px;
    width: 150px;
    font-size: 20px;
    font-family: 楷体;
    color: #761596;
}

.bo5-1-2-2 {
    margin: 0 auto;
    position: absolute;
    top: 90px;
    left: 80px;
    width: 150px;
    font-size: 20px;
    font-family: 楷体;
    color: #761596;
}

.bo5-1-3-2 {
    margin: 0 auto;
    position: absolute;
    top: 640px;
    right: 380px;
    width: 150px;
    font-size: 20px;
    font-family: 楷体;
    color: #761596;
}


/*5-2兴趣爱好的页面*/

.box5-2-1 {
    width: 900px;
    height: 1000px;
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 0;
    padding-bottom: 10px;
    background-color: #FFF0F5;
}

.box5-2-2 {
    width: 900px;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    font-family: 楷体;
    font-size: 22px;
    color: #761596;
}

.box5-2-3 {
    width: 900px;
    margin: 0 auto;
    padding: 0;
    font-family: 楷体;
    font-size: 26px;
    color: #761596;
}

.box5-2-3-1 {
    position: absolute;
    top: 250px;
    width: 525px;
    margin: 0 auto;
    padding: 10px;
}

.box5-2-3-2 {
    float: right;
    width: 350px;
    margin: 0 auto;
    padding: 0;
}

.box5-2-3-3 {
    position: absolute;
    top: 480px;
    width: 400px;
    margin: 0 auto;
    padding-left: 30px;
}

.box5-2-3-4 {
    position: absolute;
    right: 325px;
    top: 550px;
    width: 600px;
    margin: 0 auto;
    padding: 0;
}

.box5-2-3-5 {
    position: absolute;
    top: 870px;
    width: 525px;
    margin: 0 auto;
    padding: 10px;
}

.box5-2-3-6 {
    position: absolute;
    right: 325px;
    top: 800px;
    width: 350px;
    margin: 0 auto;
    padding: 0;
}


/*5-3音乐分享的页面*/

.sort {
    font-size: 18px;
    font: bold;
}

.musictime1 {
    position: absolute;
    right: 322px;
    top: 168px;
    font-size: 19px;
    font: bold;
}

.musictime2 {
    position: absolute;
    left: 685px;
    top: 580px;
    font-size: 19px;
    font: bold;
}

.tab {
    text-align: center;
    color: #761596;
    background-color: #FFFFFF;
}


/*控制图片轮播*/

.colee {
    width: 300px;
    overflow: hidden;
    height: 300px;
    margin: 0 auto;
}

.colee1 {
    width: 390px;
    overflow: hidden;
    height: 260px;
    margin: 0 auto;
}


/*网页中所有超链接的控制*/

.menu {
    clear: both;
}

.menu ul {
    list-style: none;
    padding-left: 25px;
    margin: 0;
}

.menu ul li a {
    text-decoration: none;
    color: #000;
}

.menu ul li a:hover {
    text-decoration: underline;
}


/*网页中超链接前的小图标*/

ul.announce3 {
    list-style-image: url(image/yinyue.gif);
}


/*超链接位置设置*/

.box2 {
    float: left;
    margin: auto;
    padding: 0px;
}

.box3 {
    float: right;
    position: relative;
    right: 5px;
    margin: auto;
    padding: 0px;
    color: rgb(201, 194, 194);
}