img.graph1 {
    margin: 0 auto;
    padding: 0;
    display: block;
}

.box1 {
    position: fixed;
    top: 0px;
    left: 5px;
    margin: auto;
    padding: 0px;
}

.box1 a {
    color: #761596;
    text-decoration: none;
}

.jieshaok1 {
    width: 700px;
    margin: 0 auto;
    padding: 0;
}

p {
    font-family: 楷体;
    font-size: 22px;
}

span {
    font-family: 微软雅黑;
    color: saddlebrown;
}