.title {
    font-size: 24px;
    color: red;
}

.special {
    font-family: 微软雅黑;
}

.text {
    color: darkgreen;
    font-family: 楷体;
    font-size: 20px;
}

table {
    font-size: 24px;
    color: gray;
}

body {
    background-color: #FFF5EE;
}

#title {
    color: green;
}

ul.parent {
    border: 1px #888 dashed;
    border-bottom: 1px #888 dashed;
    background: #F0FFFF;
    font-family: 微软雅黑;
}

ul.parent>li {
    font-size: 24px;
    color: #8B658B;
}

a:visited {
    color: #9932CC;
    text-decoration: underline;
}

a:hover {
    color: #87CEFA;
    text-decoration: underline;
    font-size: 20px;
}